@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --hackathon-blue: #3D68BB;
  --hackathon-dark-blue: #223f77;
  --hackathon-brown: #A67B5B;
  --font-karla: 'Karla', sans-serif;
  --font-space-grotesk: 'Space Grotesk', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  padding: 0;
  margin: 0;
  font-family: var(--font-karla);
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-space-grotesk);
  font-size: xx-large;
  font-weight: 600;
  color: var(--hackathon-dark-blue)
}

/* Custom utilities */
@layer utilities {
  .form-field {
    font-family: var(--font-space-grotesk);
    font-weight: 600;
    font-size: larger;
    color: var(--hackathon-dark-blue)
  }

  .form-input {
    @apply mt-3 block w-1/2 h-14 border-0 border-b-2 border-gray-300 focus:border-hackathon-blue rounded-xl
              outline-none focus:ring-2 focus:ring-hackathon-blue focus:ring-opacity-50;
    padding: 1rem;
    transition: border-color 0.3s ease-in-out;
    font-family: var(--font-karla);
    font-weight: 400;
    font-size: large;
  }

  .form-input:hover {
    border-color: #4A90E2;
  }

  .form-button {
    @apply inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-xl text-white bg-hackathon-blue hover:bg-opacity-90 focus:outline-none;
  }
}
